## Dataset separator

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('Company_Dataset/jobs_details_all.csv')
data.head(3)

,Company,job_name,job_link,ML Labeled Function,city,country,Function,employment_type,remote,seniority level,Job Status,Date Reviewed,data analyst,company_Link,job_location,job_details,job_id,posting_error,description
0,Spectrum,"Outside Sales Representative | $5,000 Sign On ...",https://sjobs.brassring.com/TGnewUI/Search/hom...,Sales,Opelika,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,"$5,000 Sign On Bonus* + $2,500 training pay + ...",d74c82fb-27f8-435c-b54b-14ebccc7e9cd,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN
1,Spectrum,Sr Technical Writer,https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Englewood,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,JOB SUMMARYThis position is responsible for de...,4175936f-1a2c-4635-a536-4348d5bf89f5,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN
2,Spectrum,Advertising Account Executive- New Business,https://sjobs.brassring.com/TGnewUI/Search/hom...,Sales,Bay City,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,Tenacious go-getter. Inquisitive problem solve...,11a21cd7-86c2-48a4-96b9-83fc59e428c1,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN

In [2]:
data.columns

Index(['Company', 'job_name', 'job_link', 'ML Labeled Function', 'city',
       'country', 'Function', 'employment_type', 'remote', 'seniority level',
       'Job Status', 'Date Reviewed', 'data analyst', 'company_Link',
       'job_location', 'job_details', 'job_id', 'posting_error',
       'description'],
      dtype='object')

In [3]:
data['ML Labeled Function'].unique()

array(['Sales', 'Other', 'Writing/Editing', 'Engineering',
       'Information Technology', 'Analyst', 'Human Resources',
       'Customer Service', 'Project Management', 'Accounting/Auditing',
       'Management', 'Production', 'Training', 'Public Relations',
       'Product Management', 'Design', 'Education', 'Finance',
       'General Business', 'Business Development', 'Marketing',
       'Administrative', 'Art/Creative', 'Legal', 'Quality Assurance',
       'Advertising', 'Purchasing', 'Science', 'Health Care Provider',
       'Manufacturing', 'Strategy/Planning', 'Supply Chain', 'Research',
       'Distribution'], dtype=object)

In [4]:
data_other = data[data['ML Labeled Function'] == "Other"]
data_other.head(3)

,Company,job_name,job_link,ML Labeled Function,city,country,Function,employment_type,remote,seniority level,Job Status,Date Reviewed,data analyst,company_Link,job_location,job_details,job_id,posting_error,description
1,Spectrum,Sr Technical Writer,https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Englewood,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,JOB SUMMARYThis position is responsible for de...,4175936f-1a2c-4635-a536-4348d5bf89f5,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN
4,Spectrum,Production Specialist I - Spectrum News 13 Orl...,https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Orlando,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,"Spectrum Networks is looking for enthusiastic,...",fc34ab5f-ee2d-4145-81c4-126f52b1df35,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN
7,Spectrum,"Manager, Advanced Advertising Sales - Ad Sales",https://sjobs.brassring.com/TGnewUI/Search/hom...,Other,Los Angeles,United States,Full-time,No,Mid-Senior Level,to be reviewed,NaN,NaN,NaN,Spectrum Reach is looking for a dynamic Manage...,60391e39-17ba-4de2-a564-ede2412d6791,NaN,https://www.smartrecruiters.com/Humanity/74399...,NaN,NaN

In [5]:
data_other['ML Labeled Function'].unique()

array(['Other'], dtype=object)

In [6]:
data_other.shape

(734, 19)

In [7]:
#data_other.to_csv('Company_Dataset/dataset_ml_labeled.csv',index=False)